<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title><ui:insert name="title">Temperature Convertor Rene Poecher</ui:insert></title>
</h:head>

<h:body>

	<h:form id="form">
		<p:panel header="Temperature Convertor">
		
		<!-- <p:growl id="growl" life="2000" /> -->
		<p:panelGrid colums="2">
			<h:outputText value="Temp:" />
			<p:inputText value="#{temperatureConvertor.convert}" />
		</p:panelGrid>
		<br />
		<p:commandButton value=" C->F " ajax="false" action="#{temperatureConvertor.celsiusToFahrenheit}" />
		<p:commandButton value=" F->C " ajax="false" action="#{temperatureConvertor.fahrenheitToCelsius}" />
		<p:commandButton value=" C->K " ajax="false" action="#{temperatureConvertor.celsiusToKelvin}" />
		<p:commandButton value=" K->C " ajax="false" action="#{temperatureConvertor.kelvinToCelsius}" />
		<p:commandButton value=" F->K " ajax="false" action="#{temperatureConvertor.fahrenheitToKelvin}" />
		<p:commandButton value=" K->F " ajax="false" action="#{temperatureConvertor.kelvinToFahrenheit}" />
		<p:commandButton value="Reset" ajax="false" action="#{temperatureConvertor.reset}" />
		
		</p:panel>
	
	</h:form>
	<p:panel id="result" header="Result" rendered="#{not temperatureConvertor.initial}">
		<h:outputLabel value="#{temperatureConvertor.unit}"></h:outputLabel>
		<h:outputLabel value="#{temperatureConvertor.converted}"></h:outputLabel>
	</p:panel>
	
	</h:body>
</html>